#secondpage_background {
    height: 100vh;
    width: 500vw;
    margin:0;
    padding:0;
    background-image: url(../images/BG3.jpg);
    background-size: auto 100vh; 
    background-repeat: no-repeat;
  }

#gaur{
  height: 50vh;
  width: auto;
  position: absolute;
  top: 50vh;
  left:50vw;
}
#great{
    height: 55vh;
    width: auto;
    position: absolute;
    top: 45vh;
    left:10vw;
  
}
#anhinga{
  height: 45vh;
  width: auto;
  position: absolute;
  top: 7vh;
  left:31vw;

}
#gopher{
  height: 40vh;
  width: auto;
  position: absolute;
  top: 52vh;
  left:102vw;

}
#burrowingowl{
  height: 35vh;
  width: auto;
  position: absolute;
  top: 7vh;
  left:125vw;

}
#indigo{
  height: 52vh;
  width: auto;
  position: absolute;
  top: 52vh;
  left:148vw;

}
#alligator{
  height: 85vh;
  width: auto;
  position: absolute;
  top: 38vh;
  left:195vw;

}
#bromeliad{
  height: 45vh;
  width: auto;
  position: absolute;
  top: 3vh;
  left:258vw;

}
#crocodile{
  height: 60vh;
  width: auto;
  position: absolute;
  top: 40vh;
  left:320vw;

}
#ratsnake{
  height: 53vh;
  width: auto;
  position: absolute;
  top: 1vh;
  left:295vw;

}
#mangrovecrab{
  height: 35vh;
  width: auto;
  position: absolute;
  top: 6vh;
  left:358vw;

}
#horseshoecrab{
  height: 45vh;
  width: auto;
  position: absolute;
  top: 55vh;
  left:475vw;

}
#manatee{
  height: 55vh;
  width: auto;
  position: absolute;
  top: 22vh;
  left:410vw;

}
#spoonbill{
  height: 55vh;
  width: auto;
  position: absolute;
  top: -4vh;
  left:445vw;

}
.testlink2 {
  height: 15vh;
  width: auto;
  position: absolute;
  top: 5vh;
  left:450vw;
}