html {
  background-image: url(../images/frontpage.jpg);
  background-size: 195vh;  
  height: auto;
  width: auto;
  margin:0;
  padding:0;
  background-repeat: no-repeat;
}
 
  #startingbutton {
    height: 28vh;
    width: auto;
    position: absolute;
    top: 56vh;
    left:37vw;
  }